flatbuffers==25.12.19
joblib==1.5.3
ml_dtypes==0.5.4
numpy==2.4.4
onnx==1.21.0
onnxruntime==1.25.0
packaging==26.1
pandas==3.0.2
protobuf==7.34.1
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
skl2onnx==1.20.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.1
